	<div class="col-sm-6">
		<ol class="list-group">
			<li class="list-group-item" ng-repeat="link in links"><a target=blank href={{link.url}}>{{link.title}}</a></li>
		</ol>
	</div>
	<div class="col-sm-6">
		<a class="twitter-timeline" href="https://twitter.com/ollipekj/lists/followed" data-widget-id="693438727939571712">Twiittejä kohteesta https://twitter.com/ollipekj/lists/followed</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>