<div class="col-md-6">
	<div>{{serverStatus}}</div>
		<div class="page-header"><h3>Delete all podcasts</h3>
		</div><button type="submit" ng-click="deleteAllPodcasts()" class="btn btn-danger">Delete</button>
	<div class="page-header"><h3>Delete a single podcast</h3></div>
	<div ng-repeat="podcast in soundcloudPodcasts" class="panel panel-default">	
		<div class="panel-body">
			<strong>{{podcast.title}}</strong><br>
		</div>
		<div class="panel-footer">
			<button ng-click="deletePodcast(podcast._id)" class="btn btn-danger">Remove</button>	
		</div>		
	</div>
</div>